In [17]:
# date = datetime(2017, 3, 10, 0)
# station = "EYW"

In [1]:
from datetime import datetime

In [2]:
date = datetime(2017, 3, 10, 0)
station = "EYW"

In [3]:
from siphon.simplewebservice.wyoming import WyomingUpperAir

In [4]:
df = WyomingUpperAir.request_data(date, station)

In [5]:
df

,pressure,height,temperature,dewpoint,direction,speed,u_wind,v_wind,station,station_number,time,latitude,longitude,elevation,pw
0,1018.0,13,24.4,17.4,80.0,5.0,-4.924039,-0.868241,EYW,72201,2017-03-10,24.55,-81.79,13.0,27.33
1,1000.0,172,22.8,16.8,70.0,10.0,-9.396926,-3.420201,EYW,72201,2017-03-10,24.55,-81.79,13.0,27.33
2,984.7,305,21.6,16.4,85.0,12.0,-11.954336,-1.045869,EYW,72201,2017-03-10,24.55,-81.79,13.0,27.33
3,950.5,610,18.7,15.6,80.0,11.0,-10.832885,-1.910130,EYW,72201,2017-03-10,24.55,-81.79,13.0,27.33
4,928.0,817,16.8,15.0,76.0,13.0,-12.613844,-3.144985,EYW,72201,2017-03-10,24.55,-81.79,13.0,27.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,12.1,29545,-41.3,-78.3,279.0,39.0,38.519845,-6.100944,EYW,72201,2017-03-10,24.55,-81.79,13.0,27.33
146,11.4,29952,-38.3,-75.3,282.0,41.0,40.104052,-8.524379,EYW,72201,2017-03-10,24.55,-81.79,13.0,27.33
147,10.6,30480,-38.2,-76.2,285.0,43.0,41.534811,-11.129219,EYW,72201,2017-03-10,24.55,-81.79,13.0,27.33
148,10.6,30452,-38.1,-76.1,285.0,43.0,41.534811,-11.129219,EYW,72201,2017-03-10,24.55,-81.79,13.0,27.33
149,10.1,30783,-39.9,-76.9,NaN,NaN,NaN,NaN,EYW,72201,2017-03-10,24.55,-81.79,13.0,27.33

In [6]:
df.units

{'pressure': 'hPa',
 'height': 'meter',
 'temperature': 'degC',
 'dewpoint': 'degC',
 'direction': 'degrees',
 'speed': 'knot',
 'u_wind': 'knot',
 'v_wind': 'knot',
 'station': None,
 'station_number': None,
 'time': None,
 'latitude': 'degrees',
 'longitude': 'degrees',
 'elevation': 'meter',
 'pw': 'millimeter'}

In [7]:
df.units['dewpoint']

'degC'

In [22]:
from metpy.units import units

Warning: ecCodes 2.21.0 or higher is recommended. You are running version 2.16.0

In [26]:
r = df['pressure'].values * units(df.units['pressure'])

In [28]:
r

array([1018. , 1000. ,  984.7,  950.5,  928. ,  925. ,  917.5,  904. ,
        889. ,  885.1,  880. ,  862. ,  856. ,  850. ,  847. ,  828. ,
        823.1,  818. ,  813. ,  807. ,  796. ,  793.6,  765.2,  745. ,
        737.6,  700. ,  689. ,  677. ,  667. ,  659.4,  652. ,  642. ,
        638. ,  616. ,  611.4,  593. ,  582. ,  579. ,  566.2,  566. ,
        503.8,  502. ,  500. ,  495. ,  484.2,  478. ,  465. ,  452. ,
        444. ,  432. ,  416. ,  409. ,  407. ,  402. ,  400. ,  395.2,
        395. ,  380. ,  366. ,  363.6,  356. ,  350. ,  345. ,  319.8,
        317. ,  307. ,  306.2,  300. ,  298. ,  292. ,  286. ,  275. ,
        268. ,  256.1,  250. ,  200. ,  199. ,  184.7,  181. ,  179. ,
        152. ,  151.7,  150. ,  147. ,  144.3,  138. ,  133. ,  123.9,
        123. ,  116. ,  113. ,  106.1,  104. ,  102. ,  100. ,   87.2,
         79.7,   73.3,   71.4,   70. ,   67.6,   65.9,   65.8,   62.5,
         59.3,   56.3,   56.2,   53.3,   50.8,   50. ,   48.2,   45.8,
         43.6,   43.5,   39.4,   36.5,   35.6,   33.9,   33.5,   32.3,
         30.8,   30. ,   29.4,   28. ,   27.3,   26.7,   25.4,   22.3,
         22. ,   21. ,   20.1,   20. ,   19.8,   19.1,   18.3,   17.2,
         16.6,   15.9,   15.2,   15.2,   14.7,   14.5,   14.2,   13.2,
         13.2,   12.1,   11.4,   10.6,   10.6,   10.1]) <Unit('hectopascal')>